test.py
config.py
dark_theme_layout.png
operation\data.db
\save
operation/__pycache__
operation/data.db
requirements_conda.txt
requirements.txt
\build
\dist
PackingElf.spec
\packingelf_light
spl.html
tkinter_test.py
accounts.txt