test.py
.vscode
config.py
__pycache__
dark_theme_layout.png
operation\data.db
operation/__pycache__
frames/__pycache__
tests
operation/data.db
operation/accounts.bin
requirements_conda.txt
\build
\dist
.pytest_cache
PackingElf.spec
\packingelf_light
spl.html
tkinter_test.py
accounts.txt
save
myacg_test.py
ecpay.png
InvoiceIssue_20240526135626.xlsx
essential.txt
task.txt